@font-face {
    font-family: kodemono;
    src: url(https://github.com/jackmadethat/killteam/blob/main/src/assets/KodeMono-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

html {
    overflow-y: auto;
    scrollbar-width: none;
    font-family: kodemono;
}

body {
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

.subHeading {
    font-size: 2.1em;
}

.textCenter {
    text-align: center;
}

.logoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
}

#nightModeToggle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    border: 1px red solid;
}

#header {
    text-align: center;
}

.sectionButton {
    border: 1px red solid;
    :hover {
      cursor: pointer;
    }
}

.svgImg {
    width: 1.2em;
    height: 1.2em;
}


@media (max-width: 1920px) {
    .logoImg {
        width: 20%;
        height: 20%;
    }
    .imgGraphic {
        width: 35%;
        height: 35%;
        max-width: 400px;
    }
}