:root {
    --bg: #F80;
    --darkerOrange: #f05e25;
}

* {
    box-sizing: border-box;
}

/**
HTML Styles
**/

html {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: 'Kode Mono';
}

body {
    overflow-x: hidden;
    position: relative;
    background-color: #181818;
    color: #FFF;
    top: -8px;
    left: -8px;
    width: 100%;
}

h1 {
    font-size: 3.5em;
    font-weight: lighter;
    user-select: none;
    margin-bottom: 45px;
}

h2 {
    font-size: 2.25em;
    letter-spacing: 0.25em;
    font-weight: lighter;
    user-select: none;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
}

b {
    font-weight: bold;
}

em {
    color: #e97c00;
}

figure {
    text-align: center;
    font-size: 0.8em;
}

li::marker {
  color: var(--darkerOrange);
}

a {
    color: #F00;
}

/**
Structural Styles
**/

#bgImageContainer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -200px;
    left: 50%;
    translate: -960px 0px;
    z-index: -1;
}

#bgImage {
    user-select: none;
    filter: opacity(0.25) saturate(40%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%), linear-gradient(to right, black 70%, transparent 100%), linear-gradient(to left, black 70%, transparent 100%);
    mask-composite: intersect;
}

#content {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
}

#disclaimer {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 0.75em;
    opacity: 0.7;
}

.subHeading {
    font-size: 1.8em;
    letter-spacing: 0em;
    font-weight: lighter;
}

.hovered {
    cursor: pointer;
}

.footer {
    text-align: center;
    font-size: 0.65em;
    user-select: none;
    opacity: 0.4;
}

.textCenter {
    text-align: center;
}

.logoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
    min-width: 250px;
    min-height: 250px;
    background-color: var(--bg);
    mask-image: url("https://raw.githubusercontent.com/jackmadethat/killteam/refs/heads/main/src/img/killteamLogo.svg");
    mask-size: 100% 100%;
}

#nightModeToggle {
    position: absolute;
    top: 10px;
    left: 11px;
    width: 25px;
    height: 25px;
    background-color: #FFF;
    mask-image: url("https://raw.githubusercontent.com/jackmadethat/scndrl/refs/heads/main/sun.svg");
    mask-size: 100% 100%;
    opacity: 0.5;
    z-index: 10;
}

#header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: -25px;
}

.disclaimerBtn {
    background-color: #00000000;
    color: white;
    border: 1px var(--bg) solid;
    border-radius: 10px;
    width: 95px;
    height: 30px;
    margin-bottom: 0px;
    font-family: 'Kode Mono';
}

.sectionButton {
    border: 1px var(--bg) solid;
    padding: -2%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

.categoryButton {
    border: 1px var(--bg) solid;
    padding: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    :hover {
        cursor: pointer;
    }
}

.sectionContent {
    font-weight: 50;
    padding: 1px 2% 2% 2%;
    margin-left: 1%;
    margin-right: 1%;
}

/**
Formatting
**/

.indentNote {
    padding-left: 10%;
    padding-right: 10%;
}

.svgImg {
    width: 1.2em;
    height: 1.2em;
    transform: translate(0, 3px);
}

.imgGraphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 400px;
}

.blackIcon {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(-5deg) brightness(100%) contrast(100%);
}

.weaponLine {
    height: 1px;
    width: 100%;
    margin-top: -1em;
    border: 1px solid var(--darkerOrange);
    opacity: 0.65;
}

.strategyPloy {
    border: 2px solid rgba(116, 116, 116, 0.467);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff10;
}

.enviroNote {
    border: 2px solid rgba(255, 0, 0, 0.3);
    text-align: center;
    padding-bottom: 3px;
    padding-top: 6px;
    background-color: #ff00002d;
}

/**
Action Card
**/

.actionDiv {
    font-size: 0.8em;
    font-weight: 40;
    border: 2px var(--darkerOrange) solid;
    border-bottom-right-radius: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    ul {
        list-style-type: none;
        margin-left: -30px;
        padding-right: 15px;
        ul {
            list-style-type: disc;
            margin-left: -50px;
        }
        li {
            margin-bottom: 10px;
            margin-left: 25px;
        }
        img {
            margin-left: -24px;
        }
    }
}

.actionLine {
    height: 2px;
    width: 90%;
    margin-bottom: 3px;
    border: 1px solid var(--darkerOrange);
    margin-left: auto;
    margin-right: auto;
}

.titleBlock {
    background-color: var(--darkerOrange);
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.actionName {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 1.7em;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.actionCost {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

/**
Weapon Stats Table
**/

.weaponTable {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 800px;
    margin-bottom: 10px;
    th:first-of-type {
        text-align: left;
    }
    td:first-of-type {
        text-align: left;
    }
    th {
        font-size: 1.25em;
        border-bottom: 2px solid var(--darkerOrange);
    }
    td {
        text-align: center;
    }
}

.weaponRulesTable {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 650px;
    th:first-of-type {
        text-align: left;
    }
    th {
        font-size: 1.25em;
        border-bottom: 2px solid var(--darkerOrange);
    }
    td {
        text-align: left;
    }
}

.continueText {
    background-color: var(--darkerOrange);
    text-align: right;
}

/**
Mission Ops
**/

.missionGrid {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.missionOp {
    border: 1px solid #888;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    font-size: 0.85em;
    max-width: 350px;
    width: 350px;
    ul {
        margin-left: -10px;
    }
    .actionDiv li {
        margin-left: 5px;
    }
}

.opTitle {
    color: #FFF;
    background-color: var(--darkerOrange);
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 1.6em;
}

.opTitleTac {
    color: #FFF;
    background-color: var(--darkerOrange);
    margin-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 1.6em;
}

.opSubHeading {
    color: var(--darkerOrange);
    margin-bottom: 0px;
}

.tacOpType {
    font-size: 0.65em;
}

/**
Kill Op Table
**/

.killOptable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
	max-width: 400px;
    background-color: white;
    color: black;
    padding: 0;
    th {
        margin: auto;
        border: 1px solid black;
    }
    td {
        margin: auto;
        width: 60px;
        height: 45px;
        vertical-align: middle;
        text-align: center;
        border: 1px solid black;
    }
}

.sidewaysCell {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.topLeftCell {
    background-color: var(--darkerOrange);
}

.headerCell {
    background-color: black;
    color: white;
}

.boxCell {
    background-color: #777e6f;
    color: #000;
    font-weight: bold;
}

/**
Map Grid
**/

.mapGrid {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mapImage {
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
}

/**
Datacard
**/

.dataCard {
    width: 100%;
    min-height: 350px;
    border: 1px solid #888;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    border-radius: 5px;
    tbody {
        tr {
            th:nth-child(1) {
                font-size: 1.2em;
            }
            th:nth-child(n+2):nth-child(-n+5) {
                width: 80px;
            }
        }
    }
    .weaponStats {
        text-align: center;
        width: 100%;
        tbody tr:has(td):nth-child(odd) {
            background-color: #ffffff1a;
        }
        td {
            vertical-align: top;
            vertical-align: middle;
        }
        th:nth-child(1) {
            font-size: 0.9em;
            width: 40%;
            text-align: left;
            padding-left: 5px;
        }
        th:nth-child(n+2):nth-child(-n+4) {
            font-size: 0.9em;
            width: 30px;
        }
        th:nth-child(n+2):nth-child(-n+4) {
            font-size: 0.9em;
            width: 30px;
        }
        th:nth-child(5) {
            font-size: 0.85em;
            width: calc(100% - 40% - 180px);
            text-align: left;
            padding-left: 10px;
        }
        td:nth-child(1) {
            font-size: 0.9em;
        }
        td:nth-child(5) {
            text-align: left;
            font-size: 0.75em;
            padding-left: 5px;
        }
    }
}

.baseSize {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #FFF;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    padding-top: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.datacardAdditionalRules {
    font-size: 0.8em;
    vertical-align: top;
}

.datacardKeywords {
    font-size: 0.9em;
    padding-top: 0px;
    span {
        color: var(--darkerOrange);
    }
}

/**
Media Rules
**/

@media (max-width: 1920px) {
    .imgGraphic {
        width: 35%;
        height: 35%;
        width: 500px;
    }
    #disclaimer {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media (max-width: 1200px) {
    .missionGrid {
        flex: 50%;
    }
    #disclaimer {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 900px) {
    .missionGrid {
        flex: 100%;
    }
    .imgGraphic {
        width: 50%;
        height: 50%;
        max-width: 400px;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 2.5em;
    }
    ul, ol {
        li {
            margin-left: -20px;
        }
    }
    .logoImg {
        min-width: 150px;
        min-height: 150px;
    }
    .imgGraphic {
        width: 70%;
        height: 70%;
        max-width: 400px;
    }
    #bgImageContainer {
        translate: -960px -153px;
    }
    #bgImage {
        scale: 35%;
    }
    .indentNote {
        padding-left: 5%;
        padding-right: 5%;
    }
    .sectionButton {
        margin-left: 1%;
        margin-right: 1%;
    }
    body {
        margin-left: 1%;
        margin-right: 1%;
    }
    #disclaimer {
        margin-left: 5%;
        margin-right: 5%;
    }
    .weaponTable {
        width: 450px;
    }
}