/**
Action Card
**/

.actionDiv {
    position: relative;
    font-size: 0.8em;
    font-weight: 40;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6px;
    ul {
        list-style-type: none;
        margin-left: -25px;
        padding-right: 15px;
        ul {
            list-style-type: disc;
            margin-left: -50px;
        }
        li {
            margin-bottom: 10px;
            margin-left: 28px;
        }
        img {
            margin-left: -27px;
            margin-right: 4px;
        }
    }
}

.actionDiv:before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--darkerOrange);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 0,2px  2px ,2px calc(100% - 2px),calc(100% - 20px - 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 20px - 0.83px),calc(100% - 2px) 2px,2px 2px);
}

.actionLine {
    height: 2px;
    width: 90%;
    margin-bottom: 3px;
    border: 1px solid var(--darkerOrange);
    margin-left: auto;
    margin-right: auto;
}

.titleBlock {
    background-color: var(--darkerOrange);
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.actionName {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 1.7em;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.actionCost {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

/**
Weapon Stats Table
**/

.weaponTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
    th:first-of-type {
        text-align: left;
    }
    td:first-of-type {
        text-align: left;
    }
    th {
        font-size: 1.25em;
        border-bottom: 2px solid var(--darkerOrange);
    }
    td {
        text-align: center;
    }
}

.weaponRulesTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    th:first-of-type {
        text-align: left;
    }
    th {
        font-size: 1.25em;
        border-bottom: 2px solid var(--darkerOrange);
    }
    td {
        text-align: left;
    }
}

.continueText {
    background-color: var(--darkerOrange);
    text-align: right;
}

/**
Mission Ops
**/

.missionGrid {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.missionOp {
    border: 1px solid #888;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    font-size: 0.85em;
    max-width: 350px;
    width: 350px;
    text-align: left;
    ul {
        margin-left: -10px;
    }
    .actionDiv li {
        margin-left: 5px;
    }
}

.opTitle {
    color: #FFF;
    background-color: var(--darkerOrange);
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 1.6em;
}

.opTitleTac {
    color: #FFF;
    background-color: var(--darkerOrange);
    margin-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 1.6em;
}

.opSubHeading {
    color: var(--darkerOrange);
    margin-bottom: 0px;
}

.tacOpType {
    font-size: 0.65em;
}

/**
Kill Op Table
**/

.killOptable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    text-align: center;
	max-width: 400px;
    background-color: white;
    color: black;
    padding: 0;
    th {
        margin: auto;
        border: 1px solid black;
    }
    td {
        margin: auto;
        width: 60px;
        height: 45px;
        vertical-align: middle;
        text-align: center;
        border: 1px solid black;
    }
}

.sidewaysCell {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.topLeftCell {
    background-color: var(--darkerOrange);
}

.headerCell {
    background-color: black;
    color: white;
}

.boxCell {
    background-color: #777e6f;
    color: #000;
    font-weight: bold;
}

/**
Map Grid
**/

.mapGrid {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mapImage {
    max-width: 400px;
    max-height: 400px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/**
Datacard
**/

.dataCard {
    width: 100%;
    min-height: 350px;
    border: 1px solid #888;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    border-radius: 15px;
    tbody {
        tr {
            th:nth-child(1) {
                font-size: 1.2em;
            }
            th:nth-child(n+2):nth-child(-n+5) {
                width: 80px;
            }
        }
    }
    .weaponStats {
        text-align: center;
        width: 100%;
        tbody tr:has(td):nth-child(odd) {
            background-color: #ffffff1a;
        }
        td {
            vertical-align: top;
            vertical-align: middle;
        }
        th:nth-child(1) {
            font-size: 0.9em;
            width: 40%;
            text-align: left;
            padding-left: 5px;
        }
        th:nth-child(n+2):nth-child(-n+4) {
            font-size: 0.9em;
            width: 30px;
        }
        th:nth-child(n+2):nth-child(-n+4) {
            font-size: 0.9em;
            width: 30px;
        }
        th:nth-child(5) {
            font-size: 0.85em;
            width: calc(100% - 40% - 180px);
            text-align: left;
            padding-left: 10px;
        }
        td:nth-child(1) {
            font-size: 0.9em;
        }
        td:nth-child(5) {
            text-align: left;
            font-size: 0.75em;
            padding-left: 5px;
        }
    }
}

.baseSize {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #FFF;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    padding-top: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.datacardAdditionalRules {
    font-size: 0.8em;
    vertical-align: top;
}

.datacardKeywords {
    font-size: 0.9em;
    padding-top: 0px;
    span {
        color: var(--bg);
    }
}

.additionalRulesColumns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .col1 {
        flex-basis: 50%;
        vertical-align: top;
        align-items: top;
        padding-left: 1%;
    }
    .col2 {
        flex-basis: 100%;
        vertical-align: top;
        align-items: top;
        padding-left: 1%;
    }
}

/**
Options Table
**/

.optionsTable {
    max-width: 400px;
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    th {
        border-bottom: 1px var(--bg) solid;
        padding: 5px;
    }
    td {
        text-align: left;
        div {
            display: flex;
            align-items: center;
        }
        label {
            margin-left: 5px;
        }
    }
}

.trackerTable {
    max-width: 350px;
    width: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    th {
        border-bottom: 1px var(--bg) solid;
        padding: 5px;
    }
    td {
        span {
            font-size: 1.5em;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.pointsBtn {
    background-color: #00000000;
    color: white;
    border: 1px var(--bg) solid;
    border-radius: 5px;
    font-family: 'Kode Mono';
    height: 30px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 4px;
    font-size: 1.25em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/**
Dice  Roller
**/

.diceBox {
    max-width: 500px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.diceImg {
    position: relative;
    max-width: 50px;
    width: 50px;
    margin: 30px;
}

.d3 {
    clip-path: polygon(50% 6%, 100% 93%, 100% 94%, 0 94%, 0 93%);
}

.scatter {
    clip-path: circle(50.0% at 50% 50%);
}