
:root {
    --bg: #F80;
    --darkerOrange: #f05e25;
    --buttonHighlight: #ff880038;
}

* {
    box-sizing: border-box;
}

/**
HTML Styles
**/

html {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: 'Kode Mono';
    height: 100%;
}

body {
    overflow-x: hidden;
    scrollbar-width: none;
    position: relative;
    background-color: #181818;
    color: #FFF;
    top: -8px;
    left: -8px;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 3.5em;
    font-weight: lighter;
    user-select: none;
}

h2 {
    font-size: 2.25em;
    letter-spacing: 0.25em;
    font-weight: lighter;
    user-select: none;
}

h3 {
    font-size: 1.25em;
    font-weight: lighter;
}

h4 {
    font-size: 1.15em;
    font-weight: lighter;
}

b {
    font-weight: bold;
}

em {
    color: #e97c00;
}

figure {
    text-align: center;
    font-size: 0.8em;
}

li::marker {
  color: var(--darkerOrange);
}

a {
    color: #F00;
}

button:hover {
    background-color: var(--buttonHighlight);
}